eula.txt
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json
server-icon.png

server.properties

libraries/
logs/
versions/
world/

mods/EasyAuth/leveldbStore/
mods/EasyAuth/levelDBStore/

config/skinrestorer/

*.jar
